:root{
    --width: 250px;
    --narrow-width: 80px;
}

selector{
    width: var(--width);
    overflow: auto;
    position: fixed;
    transition: all 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none
}
selector::-webkit-scrollbar{
    display: none;
}

.sidebar-toggle{
    cursor: pointer;
}

body.opening selector{
    width: var(--narrow-width) !important;
}
body.opening selector .elementor-inner-section .elementor-widget-wrap{
    padding-left: 14px !important;
    padding-right: 14px !important;
}
selector .logo{
    transition: all 0.3s ease-in-out;
}
body.opening selector .logo{
    opacity: 0;
}
body.open selector .logo{
    display: none;
}
body.opening selector .sidebar-toggle{
    right: 26px;
}
selector .elementor-widget-search-form form{
    position: relative;
}
selector .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body.opening selector .elementor-widget-search-form form:before{
    z-index: 1;
}
body.opening selector .elementor-search-form__icon{
    padding-left: 14px !important;
}
selector .elementor-icon-list-text{
    transition: all 0.3s ease-in-out;
}
body.opening selector .elementor-icon-list-text{
    opacity: 0;
}

selector .elementor-widget-image-box{
    transition: all 0.3s ease-in-out;
}
body.opening selector .elementor-widget-image-box{
    opacity: 0;
}
selector .user{
    transition: all 0.3s ease-in-out;
}
body.opening selector .user .elementor-widget-wrap{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
body.opening  selector .user img {
    width: 40px;
    transition: all 0.3s ease-in-out;
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--width);
    transition: all 0.3s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
}

@media (max-width: 1024px){
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
    transform: translateX(calc(var(--width) - var(--narrow-width)));
    transition: all 0.6s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    transform: translateX(0);
    transition: all 0.3s ease-in-out !important;
}
html, body{
    overflow-x: hidden;
}
}

@media (max-width: 767px){
selector{
    height: 100vh;
}
body.left selector{
    transform: translateX(calc(-1*var(--width)));   
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 0;
    transform: translateX(var(--width));
    transition: all 0.3s ease-in-out !important;
}
body.left header + *,
body.left [data-elementor-type="header"] + *,
body.left footer,
body.left [data-elementor-type="footer"]{
    transform: translateX(0);
}
}

.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}